= simple_form_for ([@user, @user.create]) do |f|
  = f.input :login
  = f.input :password
  = f.input :email
  = f.input :firstname
  = f.input :lastname
  = f.input :username
  .form-actions
    = f.submit class: "btn btn-primary"